body {
    margin: 0;
    background-color: black;
    background-image: url(../Images/ViewGamesToPurchaseImage.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ViewGamesToPurchaseBox {
    padding: 30px 30px;
    background-size: cover;
    align-content: center;
}
.tableOfViewGamesToPurchase, td {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-family: Tahoma;
    font-size: 15px;
    padding: 10px;
    background-color: black;
}
label {
    font-size: 15px;
    color: lightgrey;
    padding:10px;
    margin:5px;
}
.SearchBarBox input{
    border: none;
    padding : 10px;
    border-bottom: 1px solid lightgrey;
    background: transparent;
    outline: none;
    height: 20px;
    color: lightgrey;
    font-family: "sans-seriff";
}
.SearchBarBox a {
    color: whitesmoke;
  
}
