
<br />
<br />
<br />
<br />
<link href="~/Content/MessageBoxStyleSheet.css" rel="stylesheet" />
<div class="MessageBox">
    <div id="Message">
        @ViewBag.Message
    </div>
    <br />
    <div id="WalletBalance">
        @ViewBag.WalletBalance
    </div>
</div>
