
<link href="~/Content/UserHomePageStyleSheet.css" rel="stylesheet" />
<video autoplay muted loop id="myVideo">
    <source src="~/Videos/UserHomePageBGVideo.mp4" type="video/mp4">
    Your browser doesnt support HTML5 Video
</video>

<div id="mainBody">
    <h1 id="projectTitle">GAMEX</h1>
</div>
<div id="welcomeMessageBody">
    <p id="welcomeMessage">Welcome @Session["fullname"]</p>
</div>



