
<br />
<br />
<br />
<br />
<link href="~/Content/ViewGamesAndDlcMenuStyleSheet.css" rel="stylesheet" />
<div class="ViewGamesAndDlcMenuBox">
    <div>
        @Html.ActionLink("Purchased Games", "UserGameLibrary", "User")
    </div>
    <br />
    <div>
        @Html.ActionLink("Purchased DLCs", "UserDlcLibrary", "User")
    </div>
</div>

